
<!-- src/app/pages/player/player.component.html -->
<div class="container">
    <mat-toolbar color="primary" class="main-toolbar">
      <span>Audio Player</span>
    </mat-toolbar>
    <div class="content">
      <h3 mat-subheader>songs in queue</h3>
      <mat-list color="primary" class="my-list">
        <mat-list-item *ngFor="let file of currentSongs" class="my-list-item">
          <mat-icon color="primary" mat-list-icon>music_note</mat-icon>
          <h4 mat-line> {{ file.songName }} </h4>
          <div class="votebox">
            <fa-icon class="vote-icon" [icon]="up"></fa-icon>
            <span class="vote-icon"> {{ file.score }} </span>
            <fa-icon class="vote-icon" [icon]="down"></fa-icon>
          </div> 
          <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
    <h3 mat-subheader>choose song to add</h3>
    <mat-list color="primary"  class="my-list2">
        <mat-list-item *ngFor="let file of allSongs" (click)="openFile(file)">
          <mat-icon color="primary" mat-list-icon>music_note</mat-icon>
          <h4 mat-line>{{ file }}</h4>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="media-footer">
      <mat-toolbar color="primary">
        <mat-toolbar-row class="media-action-bar">
          <button mat-button (click)="play()" [disabled]="state?.error" *ngIf="playOrPause(true)">
            <mat-icon mat-list-icon>play_circle_filled</mat-icon>
          </button>
          <button mat-button (click)="pause()" *ngIf="playOrPause(false)">
            <mat-icon mat-list-icon>pause</mat-icon>
          </button>
          <button  mat-button [disabled]="!hasNext()" (click)="next()" *ngIf="isAdmin">
            <mat-icon mat-list-icon>skip_next</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
</div>

