<div class="wrapper">
  <form [formGroup]="form" (submit)="login()" class="form-signin">
    <h2 class="form-signin-heading">Please login</h2>
    <input type="text" formControlName="username" placeholder="User Name" required="" autofocus=""/>
    <input type="password" formControlName="password"  placeholder="Password" required=""/>
    <label class="checkbox">
      <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>
</div>
